---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {  cardData } from '../utils/Data';

import { Issues  } from '../utils/Issues'
import ListItem from '../components/ListItem.astro';


import {  tagProps, listProps } from './../interfaces/index';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="bg-red">Welcome back<span class="text-gradient">Kemo!</span></h1>
		<p class="instructions">
			Keep Creating!
			Below are the content lists
		</p>
		<ul>
			{
				Issues.map( (issue: listProps)=>(
					<ListItem {...issue}/>
				) )
			}
		</ul>
		<!-- <ul role="list" class="link-card-grid">
			{
				cardData.map(
					(item: { href: string, title: string, body:string}, index: number) =>(
					<Card
						{...item}
					/>
					)
				)
			} -->
			
		<!-- </ul> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	ul{
		border: 0.5px solid rgb(237, 240, 243);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
