---
var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
import {  editorProps } from './../interfaces/index';

const { _id, title, created_at, tags, editors } = Astro.props;
var now = new Date( created_at)

---

<li key={_id} class="list-item">
    <div class="title">{title}</div>
    <div class="list-right">
        <div class="editors">
            {
            editors.map( (editor: editorProps, i: number)=> (
            <div class="editor">
                <span class="circle"/>
                {editor.name}</div>
        ))}
        </div>
    
        <div class="date">
            {created_at.substring(5, 10)}
        </div>

    </div>
</li>
<style>

    .list-item{
        display: flex;
        align-items: center;
        justify-content:  space-between;
        flex-wrap: wrap;
        gap: 5px;
        font-size: 13px;
        line-height: 21px;
        color: #282a30;
        color: rgb(40, 42, 48);
        font-weight: 500;
        padding: 5px 20px;

    width: 100%;
    border-bottom: 0.5px solid rgb(237, 240, 243);
    cursor: pointer;
    }
    .title{
        font-size: 13px;
        line-height: 21px;
        color: #282a30;
        font-weight: 500;
        max-width: 60%;
        overflow: hidden;

    }
    .list-right{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .editors{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    .editor{
        border-radius: 48px;
        height: 27px;
        padding: 0px 6px 0px 8px;
        /* max-width: 112px; */
        min-width: auto;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
        border: 0.5px solid rgb(236, 239, 242);
        background-color: rgb(255, 255, 255);

        font-size: 12px;
        color: #282a3076;
    }
    .editor .circle{
        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 50%;
        margin-right: 5px;
    }
    .date{
        font-size: 12px;
        color: #282a3076;
    }
</style>
